{% extends 'base.html.twig' %}

{% block body %}
   <p>
       test
   </p>

    <a href="{{path('page2')}}">page2</a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

{% endblock %}